{% extends "_base.html" %}
{% load static %}
{% load timeline_helper %}
{% block meta %}
    <meta property="og:title" content="{{ landing.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ meta.url }}" />
    <meta property="og:image" content="{{ landing.avatar.url }}" />  
    <meta property="og:description" content="{{ landing.headline }}" />
    <meta property="og:site_name" content="{{ meta.url }}" /> 
{% endblock meta %}
{% block style %}
    h1, h2, a {
        font-family: 'Rubik', sans-serif;
    }

    p {
        font-family: 'Karla', sans-serif;
    }
    
{% endblock %}
{% block font %}
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Karla&family=Rubik:wght@500;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/273c56c702.js" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}Home{% endblock title %}
{% block content %}

<div id="main" class="h-screen flex flex-col justify-between lg:flex-row">
    {% if landing.map_overlay.overlay_name|length > 0 %}
    {% with light_overlay='landing_page/assets/'|add:landing.map_overlay.overlay_name|add:'.svg' dark_overlay='landing_page/assets/'|add:landing.map_overlay.overlay_name|add:'_dark.svg' %}
    <div id="intro" class="relative basis-1/2 bg-inherit flex flex-col justify-center content-center mx-0 h-full flex flex-col dark:bg-slate-800 bg-teal-400 text-slate-200 dark:bg-[url('{% static dark_overlay %}')] bg-[url('{% static light_overlay %}')] bg-right bg-cover bg-no-repeat justify-center content-center items-center p-8 pb-4 text-[#05386B] dark:text-slate-50">
    {% endwith %}
    {% else %}
    <div id="intro" class="relative basis-1/2 bg-inherit flex flex-col justify-center content-center mx-0 h-full flex flex-col dark:bg-slate-800 bg-teal-400 text-slate-200 bg-right bg-cover bg-no-repeat justify-center content-center items-center p-8 pb-4 text-[#05386B] dark:text-slate-50">
    {% endif %}
        <img class="rounded-full w-44 lg:w-64 shadow-2xl" src="{{ landing.avatar.url }}">
        <h1 class="mx-auto w-4/5 lg:w-11/12 px-4 pt-8 text-center font-black  md:text-3xl text-2xl dark:text-slate-50 text-[#05386B]">{{landing.headline}}</h1>

        <a href="mailto:{{ landing.contact_email }}" class=".content-body border-2 dark:border-slate-50 border-[#05386B] bg-transparent text-[#05386B] dark:text-slate-50 dark:hover:bg-teal-500 hover:bg-[#05386B] dark:hover:border-teal-500 hover:text-slate-50 px-5 py-2 my-6 text-lg leading-5 rounded-md font-semibold ">
            Say Hi 
        </a>
        <div class="absolute bottom-0 flex flex-row justify-between w-full px-2 xl:px-6 pb-0 xl:pb-2">
            <div class="flex flex-row space-x-2 text-lg xl:text-2xl">
                <a href="/blog" class=".content-body hover:text-[#05056B] dark:hover:text-slate-400 ">BLOG</a>
                {% if landing.resume.url|length > 0 %}
                <p class="text-lg font-black .content-body">•</p>
                <a href="{{ landing.resume.url }}" class=".content-body hover:text-[#05056B] dark:hover:text-slate-400">RESUME</a>
                {% endif %}
            </div>
            <div class="flex flex-row text-2xl xl:text-4xl  space-x-3">
                {% if landing.instagram|length > 0 %}
                <a href="https://instagram.com/{{ landing.instagram }}" class="hover:text-[#05056B] dark:hover:text-slate-400"><i class="fab fa-instagram"></i></a>
                {% endif %}
                {% if landing.twitter|length > 0 %}
                <a href="https://twitter.com/{{ landing.twitter }}" class="hover:text-[#05056B] dark:hover:text-slate-400"><i class="fab fa-twitter"></i></a>
                {% endif %}
                {% if landing.github|length > 0 %}
                <a href="https://github.com/{{ landing.github }}" class="hover:text-[#05056B] dark:hover:text-slate-400"><i class="fab fa-github"></i></a>
                {% endif %}
                {% if landing.spotify|length > 0 %}
                <a href="https://open.spotify.com/user/{{ landing.spotify }}" class="hover:text-[#05056B] dark:hover:text-slate-400"><i class="fab fa-spotify"></i></a>
                {% endif %}
                {% if landing.linkedin|length > 0 %}
                <a href="https://linkedin.com/in/{{ landing.linkedin }}" class="hover:text-[#05056B] dark:hover:text-slate-400"><i class="fab fa-linkedin"></i></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="background" class="text-[#05386B] dark:text-slate-50 basis-1/2 mt-8 flex-grow bg-inherit lg:overflow-auto flex flex-col justify-start content-center px-8 space-y-10">
        <div id="bio">
            <h1 class="text-3xl">About Me:</h1>
            <p class="text-lg ">{{ landing.bio }}</p>
        </div>
        
        <div id="favorite-things">
            <h1 class="text-3xl mb-4">My Favorite Things:</h1>
            <div class="grid md:grid-cols-3 lg:grid-cols-2 grid-cols-2 gap-y-2">
                {% for thing in landing.favorite_things.all %}
                    <div id="thing-{{ thing.thing_name }}" class="flex flex-row items-center content-center flex-shrink space-x-3">
                        <svg viewBox="{{ thing.viewbox_attribute}}" class="w-8 dark:fill-slate-50 fill-[#05386B]">
                            <path d="{{ thing.path_attribute }}"/>
                        </svg>
                        <h2 class="text-xl">{{thing.thing_name}}</h2>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="experience" class="flex flex-col space-y-4 ring-teal-500 ring-2 ring-offset-4 rounded-lg p-2">
            <h1 class="text-3xl">Experience:</h1>
            {% for job in experience %}
            {% with job_id=job.pk %}
            <div id="job-{{job.pk}}" class="flex flex-col">
                <h1 class="text-2xl">{{job.title}}</h1>
                <div class="flex flex-row justify-between">
                    <h2 class="text-teal-500 text-lg font-black">{{ job.company }}</h2>
                    <h2 class=" text-lg font-black">{{ timeline|return_item:job_id }}</h2>
                </div>
                <p class=" text-lg">{{ job.description }}</p>
            </div>

            {% endwith %}
            {% endfor %}
        </div>
        
        {% include "_footer.html" %}
    </div>
</div>




{% endblock content %} 


