{% extends "_base.html" %}
{% load static %}
{% load timeline_helper %}
{% block meta %}
<meta property="og:title" content="{{  meta.user }}'s blog" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ meta.url }}/blog/" />
<meta property="og:site_name" content="{{ meta.url }}" />
{% endblock meta %}
{% block links %}
<link rel="stylesheet" href="{% static "css/tailwind-output.css" %}">
{% endblock %}
{% block title %}blog{% endblock title %}
{% block content %}
<div class="w-9/10 lg:w-3/5 flex flex-col mx-auto mt-5">
    <div class="w-full flex flex-row justify-start">
        <a href="/"
            class="text-3xl font-bold text-slate-800 hover:text-slate-600 dark:hover:text-slate-200 dark:text-slate-50">{{meta.user}}</a>
    </div>
    <div class="w-full flex flex-col justify-start mt-3 gap-y-4">
        {% if blog %}
        <h1 class="text-6xl font-bold text-slate-800 dark:text-slate-50 mx-auto pb-3">{{blog.blog_name}}</h1>
        {% else %}
        <h1 class="text-6xl font-bold text-slate-800 dark:text-slate-50 mx-auto pb-3">{{meta.user}}'s Blog</h1>
        {% endif %}
        {% if posts %}
        {% for post in posts %}
        <a href="{{post.slug}}">
            <div
                class="w-full py-2 rounded-md dark:bg-slate-800 dark:border-slate-50 hover:bg-slate-200 dark:hover:bg-slate-600 hover:transition-all flex flex-col justify-start">
                <h1 class="text-lg font-bold px-4 text-slate-800 dark:text-slate-50">{{ post.title }}</h1>
                <div class="px-4 content-body dark:text-slate-50">
                    {{ post.preview | safe }}
                </div>
            </div>
        </a>
        <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
        {% endfor %}
        {% else %}
        <h1 class="mx-auto text-lg font-bold px-4 text-slate-800 dark:text-slate-50">No posts right now. Come back soon
            :)</h1>
        {% endif %}
    </div>
    {% include "_footer.html" %}
</div>

{% endblock content %}